---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Paul Sybrandy
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://paulsybrandy.com" target="_blank" class="font-bold">Paul Sybrandy</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
