---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h1><u>Now</u></h1>
     
    </div>
    <Pulse />
  </div>
  <h2>Short-term:</h2>
  <p class="text-xs">Finishing up a few projects.</p>
  <br>
  <h2>Long-term:</h2>
  <p class="text-xs">Learning Python</p>
</Card>
